

<header id="banner">
    <p>Dashboard</p>
  </header>
<nav id="navigation">
  <ul>
    <li>
      <a routerLink="createnew">Createnew</a>
    </li>
    <li>
      <a routerLink="update">Update</a>
    </li>
    <li>
      <a routerLink="delete">Delete</a>
    </li>
    <li>
      <a href="/../">Logout</a>
    </li>
  </ul>
</nav>
<main id="main">
  <router-outlet>


  </router-outlet>
</main>
<!--<aside id="complementary">
  &lt;aside>-->

<!--</aside>-->
<footer id="contentinfo">
  <p>this is footer</p>
</footer>




